name: MiisAv Scraper
on:
  workflow_dispatch:        # Optional: also allow manual runs

  
permissions:
  contents: write  # Allow committing changes

jobs:
  scrape-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
             libxml2-dev \
             libxslt1-dev \
              python3-dev \
              build-essential
          python -m pip install --upgrade pip
          pip install cloudscraper beautifulsoup4 crawl4ai

      - name: Run Full Pipeline
        run: |
          python scripts/missav.py 

      - name: Show results folder
        run: |
           cat docs/Missav_links.txt 
